@using QLtour.Models
@model List<DIEMTHAMQUAN>

<ul class="nav flex-column border border-info" style="width:380px">
    <li class="nav-item text-center bg-info p-2 text-primary">
        <a href="/Home/Index" class="nav-link"><b>ĐỊA ĐIỂM TOUR</b></a>
    </li>
    <li class="border border-info text-center" style="background-color:white">
        <a href="/Home/HTSP_TheoDD/?name=Huế" class="nav-link">TOUR HUẾ</a>
        <a href="/Home/HTSP_TheoDD/?name=Hà Nội" class="nav-link">TOUR HÀ NỘI</a>
        <a href="/Home/HTSP_TheoDD/?name=Sapa" class="nav-link">TOUR SAPA</a>
        <a href="/Home/HTSP_TheoDD/?name=Vũng Tàu" class="nav-link">TOUR VŨNG TÀU</a>
    </li>

</ul>